body {
    background-color: aliceblue;
}

img {
    max-width: 700px;
    max-height: 500px;
}

.nav {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0 20 0 10;
}   

.content {
    margin-left: 3em;
    margin-top: 1em;
    grid-gap: 0em;
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-rows: 500px 500px 500px 500px 500px;
    grid-template-areas:  "about_p about"
                          "menu menu_p"
                          "redwine redwine"
                          "contact contact"
                          "footer footer";
}

.about {
    grid-area: about;
}

.about_p {
    margin: 1em 1em 0 0;
    grid-area: about_p;
    white-space: pre-line;
    text-align: right;
}

.menu {
    grid-area: menu;

}

.menu_p {
    margin: 1em 0 0 1em;
    grid-area: menu_p;
    white-space: pre-line;
    text-align: left;
}

.redwine_img {
    grid-area: redwine;
}
    
.contact {
    grid-area: contact;
    margin-left: 25%;
}

.footer {
    grid-area: footer;
}

@media screen and (max-width: 800px) {
    .content {grid-template-rows: 250px 250px 250px 250px;}
    img{
        max-width: 100%;
        max-height: 100%;
    }
}